<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<nav class="navbar navbar-default">
<div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div>
        <ul class="nav navbar-nav">
            <li><a href="/profile">My profile <span class="sr-only">(current)</span></a></li>
            <li><a href="/users">All users</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Log out</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>


<div class="container">

    <div class="page-header text-center">
        <img class="profile-pic" src="<%= user.profile_pic %>">
        <h1></span><%= user.name %></h1>
    </div>

    <div class="row">

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-12 text-center">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <p>
                    <strong>id</strong>: <%= user.id %><br>
                    <strong>name</strong>: <%= user.name %><br>
                    <strong>username</strong>: <%= user.username %>
                </p>

            </div>
        </div>

    </div>

    <div class="row photos text-center">

        <% if (photos.length) { %>
            <% photos.forEach(function(photo) { %>
            <div class="col-sm-12">
                <a href="/remove-image/<%= photo.id %>">Delete</a>
            </div>
            <div class="col-sm-12 image">
                <img src="data:image/gif;base64,<%= photo.src %>">
            </div>
            <% }); %>
        <% } else { %>
            <div class="col-sm-12 text-center">
                <h1>No photos yet</h1>
            </div>
        <% } %>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <form method="POST" action="/upload-image" enctype="multipart/form-data">
                <div class="form-group">
                    <input id="image-input" name="image" type="file" accept="image/*">
                </div>

                <div class="form-check">
                    <input type="checkbox" name="private_image" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Save as private image</label>
                </div>
                <input class="btn btn-primary image-btn" type="submit">
            </form>
        </div>
    </div>

</div>
</body>
</html>
